
.safe-zone {
  position: relative;
  width: 75vw;
  max-height: calc(100vh - 15vw);

  display: flex;
  flex-direction: column;
  row-gap: 2vw;

  overflow-y: scroll;

  color: black;
}

.safe-zone .message {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.safe-zone .message:not(:last-of-type) {
  padding-bottom: 1vw;
  border-bottom: 1px solid black;
}

.safe-zone .message .en-tete .date-auteur {
  font-weight: lighter;
  font-size: 1.25vw;
}

.safe-zone .message .en-tete h2 {
  font-weight: normal;
  font-size: 1.75vw;
}

.safe-zone .message .contenu {
  font-size: 1vw;
}


/* PUBLIER */
.safe-zone form {
  position: fixed;
  bottom: 2vw;
  width: 75vw;
  padding: inherit;

  display: flex;
  align-items: flex-end;
  column-gap: 2vw;
}

.safe-zone form .champs {
  position: relative;
  display: flex;
  flex-direction: column;

  width: calc(80vw - 7.5vw);
}

.safe-zone form .champs .haut {
  display: flex;
}

.safe-zone form .champs .haut input {
  width: 100%;
  border-bottom: none;
  border-right: none;
}

.safe-zone form .bas {
  border-top: none;
}

.bouton-input-text {
  padding: .1vw .2vw !important;
}

.bouton {
  width: 7.5vw;
}

.user-select {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vw;
}