html,
body {
  --BLEU_IA_PAU: #4AB7BC;
  --BLEU_IA_PAU_LIGHT: #4ab6bcb3;
  --MAIN_COLOR: white;
  --PADDING: 1vw 4vw;

  position: relative;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  color: var(--MAIN_COLOR);

  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.bouton {
  width: max-content;
  height: max-content;

  color: var(--MAIN_COLOR);
  background-color: var(--BLEU_IA_PAU);
  border: 2px solid var(--BLEU_IA_PAU);
  text-decoration: none;

  padding: .5vw 1.5vw;

  border-radius: 2vw;

  cursor: pointer;
}

.bouton-secondaire {
  width: max-content;
  height: max-content;

  color: var(--BLEU_IA_PAU);
  background-color: var(--MAIN_COLOR);
  border: 2px solid var(--BLEU_IA_PAU);
  text-decoration: none;

  padding: .5vw 1.5vw;

  border-radius: 2vw;

  cursor: pointer;
}

.bouton-input-text {
  font-family: inherit;
  padding: .5vw .25vw;

  border: 2px solid var(--BLEU_IA_PAU);

  font-weight: lighter;
  font-size: 1.5vw;

  outline: none;
}

a, .a {
  text-decoration: none;
  color: var(--MAIN_COLOR);
  cursor: pointer;
}

h2,
h3 {
  margin: 0;
}

section {
  padding: var(--PADDING);
}

p {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--PADDING);
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  z-index: 999;
  
}


.logo img {
  width: 3vw;
}

.logo h1 {
  font-size: 1.5vw;
  font-weight: normal;
}

header .compte {
  display: flex;
  gap: 1vw;
}

.error {
  color: red;
  font-size: 1vw !important;
}

.container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap:4em;
  padding: 2em;
}

.container .card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 15rem;
  
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 50px 1em;
  gap: 1em;
}

.card h1 {
  margin: 0;
}

.container .card .date {
  color: rgba(0,0,0,0.5);
  font-size: 1vw;
}

.container .card .type {
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.container .card .nbP {
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.card p {
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.card div {
  display: flex;
  flex-direction: column;
  row-gap: .5vw;
}

.card .footer {
  display: flex;
  flex-direction: column;
  gap:1em;
  
  margin-top: 1em;
}

/* Popup choix équipe */
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60vw;
  height: 40vw;
  transform: translate(-50%, -50%);

  padding: 2vw;

  display: none;
  flex-direction: column;
  row-gap: 2vw;

  color: black;
  background: white;
  border: 3px solid var(--BLEU_IA_PAU);

  z-index: 999;
}

.popup h2 {
  font-weight: normal;
}

.popup .header {
  position: relative;
  width: 100%;

  display: flex;
  column-gap: 1vw;
  border-bottom: 2px solid black;
}

.popup .header span {
  width: calc((100% - 7vw)/ 8);
  padding: .5vw;
  padding-bottom: 1vw;
}

.popup .equipe {
  display: flex;
  width: 100%;
  column-gap: 1vw;
  cursor: pointer;
}

.popup .equipe:hover {
  background: rgb(209, 209, 209);
}

.popup .equipe span {
  width: calc((100% - 7vw)/ 8);
  padding: 0 .5vw;
  text-transform: capitalize;
}

.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5); 
  display: none;

  cursor: pointer;

  z-index: 998;
}
.wrap {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flexcol {
  display: flex;
  flex-direction: column;
  gap: 2em;
}