html,
body {
  --BLEU_IA_PAU: #4AB7BC;
  --BLEU_IA_PAU_LIGHT: #4ab6bcb3;
  --MAIN_COLOR: white;
  --PADDING: 1vw 4vw;

  position: relative;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  color: var(--MAIN_COLOR);

  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.bouton {
  width: max-content;
  height: max-content;

  color: var(--MAIN_COLOR);
  background-color: var(--BLEU_IA_PAU);
  border: 2px solid var(--BLEU_IA_PAU);
  text-decoration: none;

  padding: .5vw 1.5vw;

  border-radius: 2vw;

  cursor: pointer;
}

.bouton-secondaire {
  width: max-content;
  height: max-content;

  color: var(--BLEU_IA_PAU);
  background-color: var(--MAIN_COLOR);
  border: 2px solid var(--BLEU_IA_PAU);
  text-decoration: none;

  padding: .5vw 1.5vw;

  border-radius: 2vw;

  cursor: pointer;
}

.bouton-input-text {
  font-family: inherit;
  padding: .5vw .25vw;

  border: 2px solid var(--BLEU_IA_PAU);

  font-weight: lighter;
  font-size: 1.5vw;

  outline: none;
}

a, .a {
  text-decoration: none;
  color: var(--MAIN_COLOR);
  cursor: pointer;
}

h2,
h3 {
  margin: 0;
}

section {
  padding: var(--PADDING);
}

p {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--PADDING);
  z-index: 999;
}

 .logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  z-index: 999;
  
}


.logo img {
  width: 3vw;
}

.logo h1 {
  font-size: 1.5vw;
  font-weight: normal;
}

header .compte {
  display: flex;
  gap: 1vw;
}

.error {
  color: red;
  font-size: 1vw !important;
}

.container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap:4em;
  padding: 2em;
}

.container .card{
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 35em;
  
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 1em;
  gap:1em;
  justify-content: flex-end;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container .card .date {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}

.container .card .type {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.container .card .nbP {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.card p{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.card .footer{
  display: flex;
  flex-direction: column;
  gap:1em;
  
  margin-top: 1em;
}
