article {
  position: relative;

  display: flex;
  min-height: 100%;

  color: black;
}

article > * {
  max-width: 50%;
  height: 100%;
}

article img:not(.projet-img) {
  position: fixed;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

article section {
  position: absolute;
  padding: 4vw;
  left: 50%;
  width: 50%;

  display: flex;
  flex-direction: column;
  row-gap: 4vw;
}

article section .en-tete {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

article section .en-tete .date {
  font-weight: lighter;
  font-size: 1.25vw;
}

article section .en-tete h2 {
  font-weight: normal;
  font-size: 2vw;
}

article section .projet {
  display: flex;
  align-items: flex-start;
  row-gap: 1vw;
}

article section .projet:last-of-type {
  padding-bottom: 2vw;
}

article section .projet .titre-projet {
  font-size: 1.5vw;
}

article section .projet img {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  flex-shrink: 0;
}

article section .projet .projet-desc {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;

  padding: 1vw 2vw;
}

/* Popup choix équipe */
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60vw;
  height: 40vw;
  transform: translate(-50%, -50%);

  padding: 2vw;

  display: none;
  flex-direction: column;
  row-gap: 2vw;

  color: black;
  background: white;
  border: 3px solid var(--BLEU_IA_PAU);

  z-index: 999;
}

.popup h2 {
  font-weight: normal;
}

.popup .header {
  position: relative;
  width: 100%;

  display: flex;
  column-gap: 1vw;
  border-bottom: 2px solid black;
}

.popup .header span {
  width: calc((100% - 7vw)/ 8);
  padding: .5vw;
  padding-bottom: 1vw;
}

.popup .equipe {
  display: flex;
  width: 100%;
  column-gap: 1vw;
  cursor: pointer;
}

.popup .equipe:hover {
  background: rgb(209, 209, 209);
}

.popup .equipe span {
  width: calc((100% - 7vw)/ 8);
  padding: 0 .5vw;
  text-transform: capitalize;
}