.list-content {
    padding: 1em;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}

.btn-setting {
    display: flex;
    gap: 1em;
}

.list-header {
    font-weight: bold;
    padding: 1em;
}

.manage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;

}

.list-container {
    width: 55vw;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.chLink {
    color: black;
}

.wrap {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    min-width: 900px;
    margin: 0 auto;
    max-width: 900px;

}

.main-content img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.main-content h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.main-content p {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.main-content h2 {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.ressource {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1vw;
}

.ressources {
    margin-bottom: 4vw;
}

.ressource a {
    color: rgba(0, 0, 0, 0.5);
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;

}

.active {
    display: flex;
}

.ct {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 15px;
}

.ct>div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row-reverse;
    width: 100%;
    gap: 1em;
}