body {
  display: flex;

  background: url(../assets/accueil-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: black;
}

section {
  width: 50%;
  min-height: 100%;
}

section:first-of-type {
  background: white;
}

section:last-of-type {

}