.accueil {
  --BLEU_IA_PAU: #4AB7BC;
  --MAIN_COLOR: white;
  --PADDING: 1vw 4vw;

  position: relative;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;

  background: url(../assets/accueil-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.accueil::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  z-index: 0;
}

.accueil::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: url(../assets/bas-background-accueil.svg) no-repeat bottom;
  background-size: 100% 100%;
  z-index: 1;
}

.accueil h2 {
  font-weight: normal;
  font-size: 4vw;
  transform: translateX(-3px);
}

.accueil h3 {
  font-size: 1.25vw;
  font-weight: lighter;
  margin-bottom: 1vw;
}

.accueil h2,
h3,
a {
  z-index: 2;
}

.challenges {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;

  padding: 5vw 20vw;

  color: black;
}

.challenges .challenge {
  display: flex;
  gap: 2vw;
}

.challenges .challenge img {
  width: 15vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.challenges .challenge .challenge__desc {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.challenges .challenge .challenge__desc .date {
  font-weight: lighter;
}

/* Alternance droite-gauche */
.challenges .challenge:nth-of-type(even) {
  flex-direction: row-reverse;
}

.challenges .challenge:nth-of-type(odd) {
  flex-direction: row;
}

/* trait de sépraration entre les challenges */
.challenges .challenge:not(:last-of-type) {
  padding-bottom: 2vw;
  border-bottom: 1px solid grey;
}