:root {
    --background-left-panel: rgb(233, 233, 233);
    --background-onglet: rgb(209, 209, 209);
}

article {
    min-height: 100vh;

    color: black;
    width: 100%;
    display: flex;
}

article section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

article section:first-of-type {
    padding: 0;
    width: 20vw;
    background-color: var(--background-left-panel);
    padding-top: 1.5vw;
    position: fixed;
}

.content-container {
    margin-top: 8vw;
    margin-left: calc(20vw + 2vw);
    margin-bottom: 8vw;
}

.mtop {
    margin-top: 6vw;
}

.onglets {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.onglet {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: .75vw 1.5vw;
    transition: 100ms background-color;
}

.onglet:hover {
    background-color: var(--background-onglet);
}

.utilisateur {
    /* margin-left: 2vw; */
    margin: 2vw 0 0 0;
    /* margin-top: 2vw; */
    padding: 0 3vw;
    text-transform: capitalize;
}

.utilisateur h2 {
    font-size: 1.5vw;
}

.onglet-active {
    color: black;
    font-weight: bold;
    padding: .75vw 1.5vw;

    background-color: var(--background-onglet);
}

.logo {
    padding: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    color: #4ab6bcb3
}