h1 {
  color: black;
}

h2 {
  font-weight: normal;
}

article {
  top: 5vw;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 5vw);

  display: flex;

  color: black;
}

article section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

article section:first-of-type {
  row-gap: 5vw;

  width: 20%;
  padding: 2vw 2vw 2vw calc(4vw - .5vw);

  box-shadow: 1px 10px 5px #031926;
}

article section:first-of-type .utilisateur {
  padding-left: calc(2px + .5vw);
}

article section:first-of-type .utilisateur p {
  font-weight: lighter;
}

article section:first-of-type .onglets {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;

  height: 100%;
}

.onglet {
  color: black !important;
  padding: .75vw .5vw;
}

.onglet:hover {
  text-decoration: underline;
}


section:last-of-type {
  max-width: 80%;
  padding: 10vw;
}

.content-container{
  margin-left:2em;
  padding: 1em;
}