.overlay{
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disp{
    background-color: white;
    padding: 2em;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap:1em;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    

}
a{
    color: black;
    text-decoration: none;
}

.dropdown-item{
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
}
.red{
    color:white;
    background-color: red;
    border-color: white;
}

.wrap {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}